<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Проверить мета-теги -->
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index, follow, noodp">
	<meta name="googlebot" content="index, follow">
	<meta name="google" content="notranslate">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="/templates/ksu/img/favicon.png">
	<link rel="stylesheet" href="css/app.min.css">
	<title><!--#echo var="title" --></title>
</head>
<body>