.news
	&__header
		display: flex
		justify-content: space-between
		align-items: center
		border-bottom: 1px solid #F6F6F6
	&__header-tabs
		display: flex
		column-gap: 30px
	&__header-tab
		background-color: transparent
		border: none
		font-size: $fontsize
		padding: 10px 0
		&:hover
			color: $accent
		&.mixitup-control-active
			position: relative
			&::after
				content: ''
				position: absolute
				left: 0
				bottom: -1px
				width: 100%
				height: 2px
				background-color: $accent
	// &__header-links
		
	&__header-link
		// padding: 10px 0
		border-bottom: 1px solid $textcolor
		&:not(.is-active)
			display: none
	&__body
		padding-top: 30px
		padding-bottom: 70px
	&__lists
		display: grid
		grid-template-columns: repeat(12, 1fr)
		gap: 30px
		grid-auto-rows: 185px
	&__lists-item
		border-radius: $radius
		position: relative
		grid-column: 3 span
		@include media-breakpoint-down(lg)
			grid-column: 4 span
			&:nth-child(4),
			&:nth-child(5)
				display: none
		@include media-breakpoint-down(sm)
			grid-column: 6 span
		&:hover
			.news__lists-image img
				transform: scale(1.08)
		&:first-child
			grid-column: 6 span
			grid-row: 2 span
			@include media-breakpoint-down(lg)
				grid-column: 8 span
			@include media-breakpoint-down(sm)
				grid-column: 12 span
			&>.news__lists-image
				height: 330px
			&>.news__lists-text
				background-color: #fff
				+shadow-bg
				width: 80%
				margin: 0 auto
				padding: 20px 25px
				height: 150px
				bottom: 0
				border-radius: $radius
				&>.news__lists-title
					font-size: 19px
					line-height: $lineheight
				&>.news__lists-info
					display: flex
	&__lists-image
		overflow: hidden
		border-radius: $radius
		height: 185px
		@include media-breakpoint-down(md)
			height: 140px
		img
			transition: all .2s ease
			transform: scale(1.04)
			display: block
			width: 100%
			height: 100%
			object-fit: cover
	&__lists-text
		position: absolute
		bottom: 0
		left: 0
		right: 0
		min-height: 60px
		padding: 11px 15px
		background-color: rgba(#fff, .75)
		@include media-breakpoint-down(md)
			bottom: 45px
	&__lists-info
		display: none
		justify-content: space-between
		font-size: 12px
		color: $gray-ligth
		padding-bottom: 18px
	&__lists-published
		display: flex
		column-gap: 45px
		span
			position: relative
			&:first-child
				&::after
					content: ''
					width: 25px
					height: 1px
					top: 7px
					right: -35px
					background-color: $gray-ligth
					position: absolute
	&__lists-views
		padding-left: 18px
		background-image: url(../img/icons/teeny/eye.svg)
		background-repeat: no-repeat
		background-position: left 1px
	&__lists-title
		font-size: 14px
		font-weight: 700
		line-height: 17px
		overflow: hidden
		display: -webkit-box
		-webkit-line-clamp: 2
		-webkit-box-orient: vertical
	&__lists-link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 3

.anons-lists
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 30px
	&__item
		position: relative
		border-radius: $radius
		padding: 20px
		+shadow-bg
		background-color: #fff
	&__title
		font-weight: 700
		font-weight: 700
		margin-bottom: 20px
	&__published
		font-size: 12px
	&__link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.conf-lists
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 30px
	&__item
		position: relative
		padding: 20px
		border-radius: $radius
		background-color: #fff
		+shadow-bg
	&__title
		margin-bottom: 20px
		font-weight: 700
	&__published
		display: flex
		align-items: center
		font-size: 12px
		span
			display: inline-block
			margin-right: 10px
			margin-bottom: 2px
			width: 13px
			height: 13px
			background-color: $accent
			border-radius: 13px
			&:not(.done)
				background-color: #6CDB45
	&__link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.navigation-list
	display: grid
	grid-template-columns: repeat(3, 1fr)
	column-gap: 30px
	grid-row-gap: 20px
	@include media-breakpoint-down(md)
		grid-template-columns: repeat(2, 1fr)
	@include media-breakpoint-down(sm)
		grid-template-columns: repeat(1, 1fr)
	&__item
		position: relative
		display: flex
		align-items: center
		column-gap: 20px
		background-color: #fff
		+shadow-bg
		border-radius: $radius
		overflow: hidden
		padding: 12px 15px
	&__image
		display: flex
		align-items: center
	&__link
		display: flex
		align-items: center
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.tour
	padding-top: 100px
	padding-bottom: 100px
	display: grid
	grid-template-columns: repeat(12, 1fr)
	column-gap: 30px
	@include media-breakpoint-down(md)
		grid-row-gap: 30px
	&__list
		grid-column: 8 span
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 30px
		@include media-breakpoint-down(md)
			grid-column: 12 span
		@include media-breakpoint-down(sm)
			grid-template-columns: repeat(1, 1fr)
			gap: 15px
	&__list-item
		border-radius: $radius
		padding: 45px 35px
		cursor: pointer
		&.active
			background-color: #fff
			+shadow-bg
			.tour__list-descr
				opacity: 1
		&:hover
			transition: all .2s ease
			&.tour__list-item
				+shadow-bg
			&>.tour__list-descr
				opacity: 1
	&__list-title
		font-size: 24px
		margin-bottom: 15px
		font-weight: 700
	&__list-descr
		line-height: 125%
		opacity: 0
		transition: all .2s ease
	&__visual
		grid-column: 4 span
		@include media-breakpoint-down(md)
			grid-column: 12 span
	&__visual-item
		display: flex
		align-items: center
		justify-content: center
		background-color: $yellow-light
		border-radius: $radius
		width: 100%
		height: 350px
		@include media-breakpoint-down(lg)
			height: 290px
		&:not(.active)
			display: none
	&__visual-image
		display: flex
		align-items: center
		justify-content: center
		width: 145px
		height: 145px
		background-color: #F56D59
		border-radius: 50%
		animation: float-3d 2s infinite alternate
		animation-timing-function: ease-in-out

.infographics-grid
	display: grid
	grid-template-columns: repeat(12, 1fr)
	column-gap: 30px
	&__info
		grid-column: 7 span
		padding-right: 100px
		@include media-breakpoint-down(md)
			grid-column: 12 span
			padding-right: 0
			margin-bottom: 30px
	&__title
		font-size: 38px
		font-weight: 700
		margin-bottom: 40px
	&__best
		display: flex
		align-items: center
		justify-content: center
		padding: 115px 50px
		background-color: $yellow-light
		border-radius: $radius
		font-size: 28px
.infographics-numbers
	grid-column: 5 span
	@include media-breakpoint-down(md)
		grid-column: 12 span
	&__list
		display: grid
		grid-template-columns: repeat(1, 1fr)
		grid-gap: 35px
		@include media-breakpoint-down(md)
			grid-template-columns: repeat(2, 1fr)
		@include media-breakpoint-down(sm)
			grid-template-columns: repeat(1, 1fr)
	&__item
		@include media-breakpoint-down(md)
			text-align: center
		span
			display: block
			font-size: 48px
			font-weight: 700
			color: $accent