.news
	&__header
		display: flex
		justify-content: space-between
		align-items: center
		border-bottom: 1px solid #F6F6F6
		@include media-breakpoint-down(xs)
			flex-direction: column
			align-items: normal
			border-bottom: none
	&__header-tabs
		display: flex
		column-gap: 30px
		@include media-breakpoint-down(xs)
			justify-content: space-between
			margin-bottom: 30px
	&__header-tab
		background-color: transparent
		border: none
		font-size: $fontsize
		padding: 10px 0
		&:hover
			color: $accent
		&.mixitup-control-active
			position: relative
			&::after
				content: ''
				position: absolute
				left: 0
				bottom: -1px
				width: 100%
				height: 2px
				background-color: $accent
	// &__header-links
	&__header-link
		border-bottom: 1px solid $textcolor
	&__body
		padding: 30px 0
	&__lists
		display: grid
		grid-template-columns: repeat(12, 1fr)
		gap: 30px
		grid-auto-rows: 185px
	&__lists-item
		border-radius: $radius
		position: relative
		grid-column: 3 span
		@include media-breakpoint-down(lg)
			grid-column: 4 span
			&:nth-child(4),
			&:nth-child(5)
				display: none
		@include media-breakpoint-down(sm)
			grid-column: 6 span
		&:hover
			.news__lists-image img
				transform: scale(1.08)
		&:first-child
			grid-column: 6 span
			grid-row: 2 span
			@include media-breakpoint-down(lg)
				grid-column: 8 span
			@include media-breakpoint-down(sm)
				grid-column: 12 span
			&>.news__lists-image
				height: 330px
			&>.news__lists-text
				background-color: #fff
				+shadow-bg
				width: 80%
				margin: 0 auto
				padding: 20px 25px
				height: 150px
				bottom: 0
				border-radius: $radius
				&>.news__lists-title
					font-size: 19px
					line-height: $lineheight
				&>.news__lists-info
					display: flex
	&__lists-image
		overflow: hidden
		border-radius: $radius
		height: 185px
		@include media-breakpoint-down(md)
			height: 140px
		img
			transition: all .2s ease
			transform: scale(1.04)
			display: block
			width: 100%
			height: 100%
			object-fit: cover
	&__lists-text
		position: absolute
		bottom: 0
		left: 0
		right: 0
		min-height: 60px
		padding: 11px 15px
		background-color: rgba(#fff, .75)
		@include media-breakpoint-down(md)
			bottom: 45px
	&__lists-info
		display: none
		justify-content: space-between
		font-size: 12px
		color: $gray-ligth
		padding-bottom: 18px
	&__lists-published
		display: flex
		column-gap: 45px
		span
			position: relative
			&:first-child
				&::after
					content: ''
					width: 25px
					height: 1px
					top: 7px
					right: -35px
					background-color: $gray-ligth
					position: absolute
	&__lists-views
		padding-left: 18px
		background-image: url(../img/icons/teeny/eye.svg)
		background-repeat: no-repeat
		background-position: left 1px
	&__lists-title
		font-size: 14px
		font-weight: 700
		line-height: 17px
		overflow: hidden
		display: -webkit-box
		-webkit-line-clamp: 2
		-webkit-box-orient: vertical
	&__lists-link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 3

.anons-lists
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 30px
	@include media-breakpoint-down(sm)
		grid-template-columns: repeat(1, 1fr)
	&__item
		position: relative
		border-radius: $radius
		padding: 20px
		+shadow-bg
		background-color: #fff
	&__title
		font-weight: 700
		font-weight: 700
		margin-bottom: 20px
	&__published
		font-size: 12px
	&__link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.conf-lists
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 30px
	@include media-breakpoint-down(sm)
		grid-template-columns: repeat(1, 1fr)
	&__item
		position: relative
		padding: 20px
		border-radius: $radius
		background-color: #fff
		+shadow-bg
	&__title
		margin-bottom: 20px
		font-weight: 700
	&__published
		display: flex
		align-items: center
		font-size: 12px
		span
			display: inline-block
			margin-right: 10px
			margin-bottom: 2px
			width: 13px
			height: 13px
			background-color: $accent
			border-radius: 13px
			&:not(.done)
				background-color: #6CDB45
	&__link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.navigation
	padding: 30px 0
.navigation-list
	display: grid
	grid-template-columns: repeat(4, 1fr)
	column-gap: 30px
	grid-row-gap: 30px
	@include media-breakpoint-down(md)
		grid-template-columns: repeat(4, 1fr)
	@include media-breakpoint-down(sm)
		grid-template-columns: repeat(2, 1fr)
	&__item
		position: relative
		display: flex
		align-items: center
		justify-content: center
		column-gap: 20px
		background-color: #fff
		+shadow-bg
		border-radius: $radius
		padding: 12px 15px
		height: 80px
		&:not(.navigation-list__item--big)
			&:hover
				.navigation-list__image
					transform: rotate(360deg)
					transition: all .2s ease
		&--big
			height: 310px
			overflow: hidden
			@include media-breakpoint-down(lg)
				height: 260px
			&:hover
				.navigation-list__image
					transform: scale(1.05)
			&>.navigation-list__image
				object-fit: cover
				width: 100%
				height: 100%
				position: absolute
			&>.navigation-list__title
				display: flex
				align-items: center
				justify-content: center
				position: absolute
				z-index: 10
				bottom: 40px
				left: 0
				right: 0
				padding: 10px 20px
				background-color: rgba($accent, .5)
				color: #fff
			&>.navigation-list__link
				z-index: 11
				&:hover
					&.navigation-list__image
						transform: scale(1.1)
	&__image
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		top: -10px
		background-color: #fff
		width: 30px
		height: 30px
		border-radius: 30px
		transition: all .2s ease
	&__title
		text-align: center
	&__link
		display: flex
		align-items: center
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.tour
	padding-top: 100px
	padding-bottom: 100px
	display: grid
	grid-template-columns: repeat(12, 1fr)
	column-gap: 30px
	@include media-breakpoint-down(md)
		grid-row-gap: 30px
	&__list
		grid-column: 8 span
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 30px
		@include media-breakpoint-down(md)
			grid-column: 12 span
		@include media-breakpoint-down(sm)
			grid-template-columns: repeat(1, 1fr)
			gap: 15px
	&__list-item
		border-radius: $radius
		padding: 45px 35px
		cursor: pointer
		&.active
			background-color: #fff
			+shadow-bg
			.tour__list-descr
				opacity: 1
		&:hover
			transition: all .2s ease
			&.tour__list-item
				+shadow-bg
			&>.tour__list-descr
				opacity: 1
	&__list-title
		font-size: 24px
		margin-bottom: 15px
		font-weight: 700
	&__list-descr
		line-height: 125%
		opacity: 0
		transition: all .2s ease
	&__visual
		grid-column: 4 span
		@include media-breakpoint-down(md)
			grid-column: 12 span
	&__visual-item
		display: flex
		align-items: center
		justify-content: center
		background-color: $yellow-light
		border-radius: $radius
		width: 100%
		height: 350px
		@include media-breakpoint-down(lg)
			height: 290px
		&:not(.active)
			display: none
	&__visual-image
		display: flex
		align-items: center
		justify-content: center
		width: 145px
		height: 145px
		background-color: #F56D59
		border-radius: 50%
		animation: float-3d 2s infinite alternate
		animation-timing-function: ease-in-out

// .infographics-grid
// 	display: grid
// 	grid-template-columns: repeat(12, 1fr)
// 	column-gap: 30px
// 	&__info
// 		grid-column: 7 span
// 		padding-right: 100px
// 		@include media-breakpoint-down(md)
// 			grid-column: 12 span
// 			padding-right: 0
// 			margin-bottom: 30px
// 	&__title
// 		font-size: 38px
// 		font-weight: 700
// 		margin-bottom: 40px
// 	&__best
// 		display: flex
// 		align-items: center
// 		justify-content: center
// 		background-color: $yellow-light
// 		border-radius: $radius
// 		font-size: 28px
// 		overflow: hidden
// 	&__video
// 		width: 100%

// .infographics-numbers
// 	grid-column: 5 span
// 	@include media-breakpoint-down(md)
// 		grid-column: 12 span
// 	&__list
// 		display: grid
// 		grid-template-columns: repeat(1, 1fr)
// 		grid-gap: 35px
// 		@include media-breakpoint-down(md)
// 			grid-template-columns: repeat(2, 1fr)
// 		@include media-breakpoint-down(sm)
// 			grid-template-columns: repeat(1, 1fr)
// 	&__item
// 		@include media-breakpoint-down(md)
// 			text-align: center
// 		span
// 			display: block
// 			font-size: 48px
// 			font-weight: 700
// 			color: $accent

.views
	display: grid
	grid-template-columns: repeat(2, 1fr)
	grid-auto-rows: 500px
	padding: 30px 0
	@include media-breakpoint-down(lg)
		grid-auto-rows: 400px
	@include media-breakpoint-down(xs)
		grid-auto-rows: 200px
	&__video
		grid-column-start: 1
		grid-column-end: 3
		position: relative
		@include media-breakpoint-down(md)
			grid-column-end: 3
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(#000, .5)
	&__video-title
		position: absolute
		top: 50%
		left: 12%
		transform: translateX(-12%)
		transform: translateY(-50%)
		color: #fff
		width: 500px
		text-align: center
		font-size: 21px
		z-index: 10
		font-family: 'Roboto Condensed', sans-serif
		span
			position: relative
			&::before
				content: '\201C'
				font-size: 35px
				position: absolute
				top: -15px
				left: -25px
			&::after
				content: '\201E'
				font-size: 35px
				position: absolute
				right: -25px
				bottom: -15px
		@include media-breakpoint-down(lg)
			left: 6%
			font-size: 18px
		@include media-breakpoint-down(md)
			display: none
	&__video-author
		margin-top: 20px
		text-transform: uppercase
		letter-spacing: 2px
	// &__video-play
	&__video-link
		position: absolute
		cursor: pointer
		z-index: 10
		top: 50%
		right: 22%
		transform: translateX(-22%)
		transform: translateY(-50%)
		width: 127px
		height: 127px
		border-radius: 50%
		border: 3px solid #fff
		background-image: url('../img/icons/play-bg.svg')
		background-repeat: no-repeat
		background-position: center
		@include media-breakpoint-down(md)
			left: 0
			right: 0
			margin: 0 auto
			width: 100px
			height: 100px
			background-size: 20px
		@include media-breakpoint-down(sm)
			width: 70px
			height: 70px
			background-size: 15px
	&__video-bg
		object-fit: cover
		width: 100%
		height: 100%
	&__tour
		display: flex
		align-items: center
		justify-content: center
		background-color: #FFD600
		position: relative
		@include media-breakpoint-down(md)
			grid-column-start: auto
			grid-column-end: auto
		@include media-breakpoint-down(xs)
			grid-column-start: span 2
		&--smart
			background-color: #00A2C3
			
	&__tour-image
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		overflow: hidden
		picture, img
			display: block
			object-fit: cover
			width: 100%
			height: 100%
			transition: all .2s ease
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(#FFD600, .5)
		&--smart
			&::after
				background-color: rgba(#00A2C3, .5)
		&:hover
			&>picture
				transform: scale(1.04)
				transition: all .2s ease
	&__tour-title
		z-index: 10
		color: #fff
		font-size: 21px
		text-align: center
		font-family: 'Roboto Condensed', sans-serif
		@include media-breakpoint-down(md)
			font-size: 18px
		@include media-breakpoint-down(xs)
			font-size: 15px

.infographics
	padding: 60px 0 30px
.infographics-list
	display: grid
	grid-template-columns: repeat(4, 1fr)
	gap: 30px
	@include media-breakpoint-down(md)
		grid-template-columns: repeat(2, 1fr)
	// &__item
	&__number
		display: flex
		justify-content: center
		align-items: center
		font-weight: 700
		width: 65px
		height: 65px
		border-radius: 50px
		margin: 0 auto
		background-color: $accent
		color: #fff
		margin-bottom: 30px
		font-size: 18px
		position: relative
		font-family: 'Montserrat', sans-serif
	&__line-small
		position: absolute
		display: block
		width: 77px
		height: 77px
		background-image: url(../img/icons/visual/line-small.svg)
		background-repeat: no-repeat
		background-position: left center
		background-size: contain
		animation: inf-line-small linear 4s infinite
		// animation-direction: alternate
	&__line-big
		position: absolute
		display: block
		width: 93px
		height: 93px
		background-image: url(../img/icons/visual/line-big.svg)
		background-repeat: no-repeat
		background-position: right center
		background-size: contain
		animation: inf-line-small linear 3s infinite reverse
	&__title
		text-align: center

@keyframes inf-line-small
	0%
		transform: rotate(0)
	100%
		transform: rotate(360deg)

.video-youtube
	padding: 30px 0
	position: relative
	overflow: hidden
.swiper-video-youtube
	&__slide
		height: 180px
		border-radius: 8px
		position: relative
		overflow: hidden
		cursor: pointer
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			width: 42px
			height: 30px
			z-index: 5
			background-image: url(../img/icons/youtube-play.svg)
			background-repeat: no-repeat
			background-position: center
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba($textcolor, .3)
		&:hover
			.swiper-video-youtube__cover
				transform: scale(1.2)
				transition: all .2s ease
	&__cover
		object-fit: cover
		width: 100%
		height: 100%
		transition: all .2s ease
		transform: scale(1.1)
	&__link
		position: absolute
		z-index: 6
		top: 0
		left: 0
		right: 0
		bottom: 0