.announcement
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(400px, 2fr))
	gap: 30px
	@include media-breakpoint-down(sm)
		grid-template-columns: repeat(auto-fit, minmax(290px, 2fr))
		gap: 15px
	&__item
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 30px
		background-color: #fff
		+shadow-bg
		border-radius: $radius
		color: $textcolor
		min-height: 165px
	&__title
		font-size: 17px
		font-weight: 700
		margin-bottom: 25px
		@include media-breakpoint-down(sm)
			font-size: 14px
	&__info
		display: flex
		justify-content: space-between
		align-items: center
	&__info-date
		font-size: 12px
		span
			display: inline-flex
			align-items: center
			justify-content: center
			padding-top: 5px
			width: 26px
			height: 26px
			background-image: url(../img/icons/teeny/calendar-accent.svg)
			background-repeat: no-repeat
			background-position: center
			margin-right: 5px
	&__link
		display: inline-block
		background-color: $accent
		padding: 4px 18px
		border-radius: $radius-sm
		color: #fff
		font-weight: 700
		cursor: pointer
